.header-structure {
    display: flex;
    justify-content: space-between;
}
.header-first-list {
    display: flex;
    justify-content: space-between;
    width: 372px;
}
.header-first-item-list {
    display: none;
}